.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-item a,
.navbar-item button {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
}